<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>{{ titulo }}</title>
    {% load static %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    {#    Iconos fontawesome#}
    <script src="https://kit.fontawesome.com/5ef07619d3.js" crossorigin="anonymous"></script>

    {#    Icono del sistema#}
    <link rel="icon" href="{% static 'img/icono/logo.ico' %}">

    {% block headcss %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% endblock %}
    <script defer src="{% static 'js/form.js' %}"></script>
    <script defer src="{% static 'js/selectCanton.js' %}"></script>
</head>
<body>
<header>
    {% block header %}

    {% endblock %}

</header>

{% block main %}


    <div class="container-xxl text-center">
        <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3 align-items-center">

            <div class="col">
                <img src="{% static 'img/j.png' %}" class="rounded img-fluid" alt="ImagenSanMartinParres"
                     style="width: 65%">
                {# Aquí colocaremos el alerts #}
                <div class="pe-5 col-6" id="liveAlertPlaceholder"></div>
            </div>

            <div class="col">
                <form action="." method="POST" id="formulario" class="d-flex justify-content-center">
                    {% csrf_token %}
                    <div class="carrusel">
                        <div class="col py-1 text-center"><h3>FORMULARIO DE INSCRIPCIÓN</h3></div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                                 style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="border border-1"></div>
                        <div class="grande">

                            <div class="item">
                                <div class="col py-1 text-center mb-2"><h5>Datos del Niño</h5></div>
                                <div class="row row-cols-1 row-cols-lg-2">

                                    <div class="col col-lg-4">
                                        <div class="form-floating my-2" id="nombres">
                                            <input type="text" class="form-control" id="floatingInput" name="nombres"
                                                   autocapitalize="none" autocomplete="nombres"
                                                   maxlength="75" required="" placeholder="Nombres">
                                            <label for="floatingInput">Nombres</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-4">
                                        <div class="form-floating my-2" id="apellidos">
                                            <input type="text" class="form-control" id="floatingInput" name="apellidos"
                                                   autocapitalize="none" autocomplete="apellidos"
                                                   maxlength="75" required="" placeholder="Apellidos">
                                            <label for="floatingInput">Apellidos</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-4">
                                        <div class="form-floating my-2" id="edad">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="edad"
                                                   autocapitalize="none" autocomplete="edad"
                                                   maxlength="2" required="" placeholder="edad">
                                            <label for="floatingInput" class="ms-2">Edad</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="especial my-2" id="fecha_nac">
                                            <label class="text-start" for="">Fecha de Nacimiento</label>
                                            <input type="date" name="fecha_nac" class="form-control p-3"
                                                   autocomplete="off"
                                                   required="">
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="cedula">
                                            <input type="text" class="form-control" id="floatingInput" name="cedula"
                                                   autocapitalize="none" autocomplete="cedula" required=""
                                                   placeholder="Cedula">
                                            <label for="floatingInput">Cédula</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="colegio">
                                            <input type="text" class="form-control" id="floatingInput" name="colegio"
                                                   autocapitalize="none" autocomplete="colegio"
                                                   maxlength="50" required="" placeholder="colegio">
                                            <label for="floatingInput">Unidad Educativa</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="especial my-2" id="anio_lectivo">
                                            <select class="form-select" name="anio_lectivo"
                                                    aria-label="Default select example"
                                                    style="height: 58px">
                                                <option value="0" selected disabled>Curso</option>
                                                <option value="4">4to - Básica Elemental</option>
                                                <option value="5">5to - Básica Media</option>
                                                <option value="6">6to - Básica Media</option>
                                                <option value="7">7mo - Básica Media</option>
                                                <option value="8">8vo - Básica Superior</option>
                                                <option value="9">9no - Básica Superior</option>
                                                <option value="10">10mo - Básica Superior</option>
                                                <option value="1">1ro - Bachillerato</option>
                                                <option value="2">2do - Bachillerato</option>
                                                <option value="3">3ro - Bachillerato</option>
                                            </select>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="col py-1 text-center mb-2"><h5>Fe de Bautismo</h5></div>

                                <div class="row row-cols-1 row-cols-lg-2">

                                    <div class="col">
                                        <div class="especial my-2">
                                            <select class="form-select provincia" aria-label="Default select example"
                                                    style="height: 58px">
                                                <option value="0" selected disabled>Escoja la Provincia</option>
                                                {% for provincia in provincias %}
                                                    <option value="{{ provincia.id }}">{{ provincia.nombre.title }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="especial my-2">
                                            <select class="form-select canton" disabled
                                                    aria-label="Default select example"
                                                    style="height: 58px">
                                                <option value="0" selected disabled>Escoja el Cantón</option>
                                            </select>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="parroquia">
                                            <input type="text" class="form-control" id="floatingInput" name="parroquia"
                                                   autocapitalize="none" autocomplete="parroquia"
                                                   maxlength="75" required="" placeholder="parroquia">
                                            <label for="floatingInput">Parroquia de bautizo</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>


                                    {##}
                                    {#                                    <div class="col">#}
                                    {#                                        <div class="form-floating my-2" id="observ">#}
                                    {#                                            <input type="text" class="form-control" id="floatingInput" name="observ">#}
                                    {#                                            <label for="floatingInput">Observaciones</label>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}


                                    <div class="col">
                                        <div class="especial my-2" id="fecha_Baut">
                                            <label class="text-start" for="">Fecha de Bautizo</label>
                                            <input type="date" name="fecha_Baut" class="form-control p-3"
                                                   autocomplete="off"
                                                   required="" id="id_fecha">
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-4">
                                        <div class="form-floating my-2" id="tomo">
                                            <input type="text" class="form-control" id="floatingInput" name="tomo"
                                                   autocapitalize="none" autocomplete="tomo"
                                                   maxlength="50" required="" placeholder="tomo">
                                            <label for="floatingInput" class="ms-2">Tomo</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-4">
                                        <div class="form-floating my-2" id="pagina">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="pagina"
                                                   autocapitalize="none" autocomplete="pagina"
                                                   maxlength="5" required="" placeholder="pagina">
                                            <label for="floatingInput" class="ms-2">Página</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-4">
                                        <div class="form-floating my-2" id="acta">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="acta"
                                                   autocapitalize="none" autocomplete="acta"
                                                   maxlength="5" required="" placeholder="acta">
                                            <label for="floatingInput" class="ms-2">Acta</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-4 d-flex align-items-center justify-content-center">
                                        <label>Registro Parroquial</label>
                                    </div>

                                    <div class="col-8 d-flex align-items-center">
                                        <div class="form-control my-2" id="archivosubido">
                                            <input type="file" name="archivosubido">
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="item padres">
                                <div class="col py-1 text-center mb-2"><h5>Datos de los Padres</h5></div>

                                <div class="row row-cols-1 row-cols-lg-2">

                                    <div class="col">
                                        <div class="form-floating my-2" id="nom_papa">
                                            <input type="text" class="form-control" id="floatingInput"
                                                   name="nom_papa"
                                                   autocapitalize="none" autocomplete="nom_papa"
                                                   maxlength="75" required="" placeholder="nom_papa">
                                            <label for="floatingInput">Nombres del padre</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="ape_papa">
                                            <input type="text" class="form-control" id="floatingInput"
                                                   name="ape_papa"
                                                   autocapitalize="none" autocomplete="ape_papa"
                                                   maxlength="75" required="" placeholder="ape_papa">
                                            <label for="floatingInput">Apellidos del padre</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-3 num">
                                        <div class="form-floating my-2" id="ced_papa">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="ced_papa"
                                                   autocapitalize="none" autocomplete="ced_papa"
                                                   maxlength="10" required="" placeholder="ced_papa">
                                            <label for="floatingInput" class="ms-2">Cédula</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-3 num">
                                        <div class="form-floating my-2" id="cel_papa">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="cel_papa"
                                                   autocapitalize="none" autocomplete="cel_papa"
                                                   maxlength="10" required="" placeholder="cel_papa">
                                            <label for="floatingInput" class="ms-2">Celular</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-4">
                                        <div class="especial my-2">
                                            <select class="form-select estado_civ_pa"
                                                    aria-label="Default select example"
                                                    style="height: 58px">
                                                <option value="0" selected disabled>estado civil</option>
                                                <option value="1">Soltero</option>
                                                <option value="2">Casado</option>
                                                <option value="3">Divorciado</option>
                                                <option value="4">Viudo</option>
                                                <option value="5">Unión de hecho</option>
                                            </select>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-2 d-flex align-items-center" style="">
                                        <div class="form-check" id="radios">
                                            <input class="form-check-input" type="radio" name="radios"
                                                   id="check_papa" value="option1" checked>
                                            <label class="form-check-label" for="check_papa">
                                                Tutor
                                            </label>

                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="nom_mama">
                                            <input type="text" class="form-control" id="floatingInput"
                                                   name="nom_mama"
                                                   autocapitalize="none" autocomplete="nom_mama"
                                                   maxlength="75" required="" placeholder="nom_mama">
                                            <label for="floatingInput">Nombres de la madre</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="ape_mama">
                                            <input type="text" class="form-control" id="floatingInput"
                                                   name="ape_mama"
                                                   autocapitalize="none" autocomplete="ape_mama"
                                                   maxlength="75" required="" placeholder="ape_mama">
                                            <label for="floatingInput">Apellidos de la madre</label>

                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-3 num">
                                        <div class="form-floating my-2" id="ced_mama">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="ced_mama"
                                                   autocapitalize="none" autocomplete="ced_mama"
                                                   maxlength="10" required="" placeholder="ced_mama">
                                            <label for="floatingInput" class="ms-2">Cédula</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-3 num">
                                        <div class="form-floating my-2" id="cel_mama">
                                            <input type="text"
                                                    {#                                                   ondrop="return false;" onpaste="return false;"#}
                                                    {#                                                   onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                                    {#                                                   required#}
                                                   class="form-control" id="floatingInput" name="cel_mama"
                                                   autocapitalize="none" autocomplete="cel_mama"
                                                   maxlength="10" required="" placeholder="cel_mama">
                                            <label for="floatingInput" class="ms-2">Celular</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-4">
                                        <div class="especial my-2">
                                            <select class="form-select estado_civ_ma"
                                                    aria-label="Default select example"
                                                    style="height: 58px">
                                                <option value="0" selected disabled>estado civil</option>
                                                <option value="1">Soltera</option>
                                                <option value="2">Casada</option>
                                                <option value="3">Divorciada</option>
                                                <option value="4">Viuda</option>
                                                <option value="5">Unión de hecho</option>
                                            </select>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-2 d-flex align-items-center" style="">
                                        <div class="form-check" id="radios">
                                            <input class="form-check-input" type="radio" name="radios"
                                                   id="check_mama" value="option2">
                                            <label class="form-check-label" for="check_mama">
                                                Tutor
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="item">
                                <div class="col py-1 text-center mb-2"><h5>¿Cuántos hijos tiene?</h5></div>
                                <div class="especial" id="num_hijos">
                                    <input type="text"
                                            {#                                           ondrop="return false;" onpaste="return false;"#}
                                            {#                                           onkeypress="return event.charCode>=48 && event.charCode<=57"#}
                                            {#                                           required#}
                                           class="form-control text-center" name="num_hijos"
                                           maxlength="2" required="" style="height: 58px">
                                    <div class="form-error">
                                        <i class="fas fa-times-circle"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col py-1 text-center mb-2"><h5>Nivel de catequésis</h5></div>
                                <div class="row rows-col-1 rows-col-lg-2">
                                    <div class="col">
                                        <div class="especial my-2" id="anio_lectivo">
                                            <select class="form-select" name="anio_lectivo"
                                                    aria-label="Default select example"
                                                    style="height: 58px">
                                                <option value="0" selected disabled>Nivel de catequesis</option>
                                                <option value="1">Iniciación</option>
                                                <option value="2">Reconciliación</option>
                                                <option value="3">Primera Comunión</option>
                                                <option value="4">Año Bíblico</option>
                                                <option value="5">I Confirmación</option>
                                                <option value="6">II Confirmación</option>
                                            </select>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating my-2" id="colegio">
                                            <input type="text" class="form-control" id="floatingInput" name="colegio"
                                                   autocapitalize="none" autocomplete="colegio"
                                                   maxlength="50" required="" placeholder="colegio">
                                            <label for="floatingInput">Nombres del Catequista</label>
                                            <div class="form-error">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>


                        <div class="buttons">
                            <button class="btn back" type="button" disabled>Atrás</button>
                            <button class="btn next" type="button">Siguiente</button>
                            <button class="btn register" type="submit" disabled>Registrar</button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var listCanton = {{ cantones|safe }};
    </script>

{% endblock %}
{##}
{#{% block js %}#}
{# LÓGICA PARA EXPONER UN ERROR #}
{#    <script>#}
{#        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')#}
{##}
{#        const alert = (message, type) => {#}
{#            const wrapper = document.createElement('div')#}
{#            wrapper.innerHTML += [#}
{#                `<div class="alert alert-${type} alert-dismissible shadow d-flex align-items-center" role="alert">`,#}
{#                `<div class="pe-3"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">#}
{#                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>#}
{#                </svg></div>`,#}
{#                `   <div>${message}</div>`,#}
{#                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',#}
{#                '</div>'#}
{#            ].join('')#}
{##}
{#            alertPlaceholder.append(wrapper)#}
{#        }#}
{##}
{#        {% if  form.errors %}#}
{#            let errors = '';#}
{#            {% for field in form %}#}
{#                {% for error in field.errors %}#}
{#                    errors = '{{ error }}\n';#}
{#                    alert(errors, 'danger')#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            {% for error in form.non_field_errors %}#}
{#                errors = '{{ error }}\n';#}
{#                alert(errors, 'danger')#}
{#            {% endfor %}#}
{##}
{#        {% endif %}#}
{#    </script>#}
{#{% endblock %}#}

</body>
</html>